@using ASP.Models
@model ProdCateViewModels

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "T'es nul")
        <div>
            <fieldset>
                <legend>Détail d'un produit</legend>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Prod.Code)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Prod.Code)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Prod.Libelle)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Prod.Libelle)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Prod.Desc)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.Prod.Desc)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Prod.Actif)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.Prod.Actif)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Prod.Stock)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Prod.Stock)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Prod)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.Prod.Categorie, Model.Cate)
                </div>
                <div>
                    <input type="submit" class="btn btn-dark" value="Valider" />
                </div>
            </fieldset>
        </div>
    }
</div>